@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color:rgb(55, 115, 122);
  color:rgb(33, 44, 46);;
}

#container {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  background-color:rgb(178,245,254);
  border-radius: 1em;
}

#hero-img{
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding: .5em;
  color: rgb(1, 73, 42);
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.question {
  padding: 1em;
}

h3 {
  padding: 1em;
  color: rgb(1, 139, 80);
}

form {
  width: 90%;
  margin: 1em auto;
  background-color:rgb(218, 247, 252);
  padding: 1em 0;
  border-radius: 1em;
}

#radio-qs {
  padding: .5em;
  display:block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.answer {
  margin-left: 30px;
  padding-left: 4em;
  padding-bottom: .75em;
}

.radio-inp {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: 3em;
  transition: .5s;
}

.checkmark:hover {
  background-color: #ccc;
}

#radio-qs input:checked ~ .checkmark {
  background-color: rgb(55, 115, 122);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#radio-qs input:checked ~ .checkmark:after {
  display: block;
}

#radio-qs .checkmark:after {
  left: 6px;
  top: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
}

.text-label {
  display: block;
  margin-left: 1em;
  padding: .5em;
  color:rgb(1, 139, 80);
  font-size: 1.4rem;
  font-weight: bold;
}

.text-input {
  display: block;
  width: 75%;
  height: 2.5em;
  margin: .5em auto;
  border: none;
  border-radius: .5em;
}

#error {
  text-align: center;
  color: rgb(175, 2, 2);
  display: none;
}

button {
  display:block;
  margin: 1em auto;
  width: 80%;
  height: 2em;
  font-size: 2rem;
  background-color:rgb(55, 115, 122);
  color: white;
  border-radius: .5em;
  transition: .35s;
}

button:hover {
  width: 90%;
  font-weight: bold;
  cursor: pointer;
}

#animation {
  height: 150px;
}

#ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:rgb(55, 115, 122);
  animation: bounce 3s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% { transform: scale(1) translate(-25vw, 0);}
  25% { transform: scale(1.2, 0.6) translate(6.25vw, 200px);}
  50% { transform: scale(0.8, 1.1) translate(37.5vw, 0);}
  75% { transform: scale(1.2, 0.6) translate(50vw, 200px);}
  100% { transform: scale(1) translate(80vw, 0);}
}

.result-img {
  width: 100%;
}

.result {
  display:none;
}